<h1>Listing db_connections</h1>

<table border=1>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @db_connections.each do |db_connection| %>
      <tr>
        <td><%= db_connection.id %></td>
        <td><%= db_connection.title %></td>
        <td><%= link_to 'Show', db_connection %></td>
        <td><%= link_to 'Edit', edit_db_connection_path(db_connection) %></td>
        <td><%= link_to 'Destroy', db_connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Db connection', new_db_connection_path %>
