<%= form_for(@dataclip) do |f| %>
  <% if @dataclip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataclip.errors.count, "error") %> prohibited this dataclip from being saved:</h2>

      <ul>
      <% @dataclip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :db_connection_id %><br>
    <%= collection_select(:dataclip, :db_connection_id, DbConnection.all, :id, :title) %>

  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
