<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>dataclips.io</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="<%= root_url %>assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="<%= root_url %>assets/css/style.css">
    <link rel="stylesheet" href="<%= root_url %>assets/css/headers/header1.css">
    <link rel="stylesheet" href="<%= root_url %>assets/css/responsive.css">
    <!--
    <link rel="shortcut icon" href="<%= root_url %>favicon.ico">
    -->
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="<%= root_url %>assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="<%= root_url %>assets/plugins/flexslider/flexslider.css">     
    <link rel="stylesheet" href="<%= root_url %>assets/plugins/parallax-slider/css/parallax-slider.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="<%= root_url %>assets/css/themes/default.css" id="style_color">
    <!-- Das Stylesheet gibt es nicht...
    <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">    
    -->

    <!-- CSS Style Page For Login -->    
    <link rel="stylesheet" href="<%= root_url %>assets/css/pages/page_log_reg_v1.css">    

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head> 
